.bg {
    background: #fff;
    width: 100%;
    height: 100%;
    background-size: 100%;
}

hr.hr-color {
    border:1px solid green;
}

.modal-header,.modal h4, .modal .close {
    background-color: #5cb85c;
    color: white !important;
    text-align: center;
    font-size: 30px;
}

.modal-footer {
    background-color: #f9f9f9;
}
.modal{
    border-radius:10px;
}



.form-container {
    position: center;
    top: 50px;
    background: #fff;
    padding: 30px;
    border-radius: 0 !important;
    box-shadow: 0px 0px 10px 0px #000;
}
.table-container {
    position: center;
    top: 50px;
    background: #fff;
    border-radius: 0 !important;
    box-shadow: 0px 0px 10px 0px #76448A;
}

.shadow {
    box-shadow: 0px 0px 10px 0px #76448A;
}
.size50{
    width:50%
}
.custom-table-container {
    position: center;
    top: 50px;
    border-radius: 0 !important;
    box-shadow: 0px 0px 10px 0px #76448A;
}
.borderless td,.borderless th{
    
    border-bottom-style:none;
    border-top-style:none;
    border-left-style:none;
    border-right-style:none;
    
}


.condensed td, .condensed th {
    padding-left: 20px;
    padding-right: 20px;
    padding-top:5px;
    padding-bottom:5px;
}

.sidenav {
    height: 100%;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    overflow-x: hidden;
    padding-top:50px;
    width:300px;

}


.main {
    margin-left: 250px;  
    
}