.bg {
    background: #ABEBC6;
    width: 100%;
    height: 100%;
    background-size: 100%;
}

hr.hr-color {
    border:1px solid green;
}

.modal-header, h4, #myModal .close {
    background-color: #5cb85c;
    color: white !important;
    text-align: center;
    font-size: 30px;
}

.modal-footer {
    background-color: #f9f9f9;
}



.form-container{
    position:absolute;
    top:15vh;
    background:#fff;
    padding:30px;
    border-radius:10px;
    box-shadow:0px 0px 10px 0px #000;

}
.table-container {
    position: absolute;
    top: 15vh;
    background: #fff;
    border-radius: 10px;
    box-shadow: 0px 0px 10px 0px #000;
    
}
.custom-table-container {
    position: absolute;
    top: 5vh;
    background: #fff;
    border-radius: 10px;
    box-shadow: 0px 0px 10px 0px #000;
}
.borderless td,.borderless th{
    
    border-bottom-style:none;
    border-top-style:none;
    border-left-style:none;
    border-right-style:none;
    
}


.condensed td, .condensed th {
    padding-left: 20px;
    padding-right: 20px;
    padding-top:5px;
    padding-bottom:5px;
}